[Desktop Entry]
Version=1.1
Type=Application
Name=OpenJDK Java 17 Shell
NoDisplay=true
Comment=OpenJDK Java 17 Shell
Icon=java17-openjdk
Exec=/usr/lib/jvm/java-17-openjdk/bin/jshell
Terminal=true
Actions=
Categories=Application;System;System-Tools;
Keywords=java;shell;
