[Desktop Entry]
Version=1.1
Type=Application
Name=nvtop
GenericName=GPU Process Monitor
NoDisplay=true
Icon=nvtop
Exec=nvtop
Terminal=true
Actions=
Categories=Monitor;System;System-Tools;
