[Desktop Entry]
Version=1.1
Type=Application
Name=Proton Experimental
NoDisplay=true
Comment=Play this game on Steam
Icon=steam
Exec=steam steam://rungameid/1493710
Actions=
Categories=Game;
